my-character-card
{
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: max-content max-content 1fr max-content;
    grid-template-areas:
        "portrait base-property-list base-property-list functions"
        ". additional-property-list additional-property-list functions";
    gap: 0.25em;

    > .portrait
    {
        display: block;
        grid-area: portrait;
        width: 10em;
        height: 10em;

        background-image: url("img/default-portrait.png");
        background-size: contain;
    }

    > .base-property-list
    {
        grid-area: base-property-list;
    }

    > .additional-property-list
    {
        grid-area: additional-property-list;
    }

    > .functions
    {
        grid-area: functions;
    }

    > [class$="property-list"]
    {
        display: grid;
        grid-template-rows: min-content;
        grid-template-columns: subgrid;

        gap: 0.25em;

        > div
        {
            display: grid;
            grid-template-rows: min-content;
            grid-template-columns: subgrid;
            grid-column: 1 / -1;
            gap: 0.25em;

            > label
            {
                grid-column: 1;
                align-self: baseline;
                padding: 0.25em 0;
            }

            > *:not(label)
            {
                grid-column: 2;
            }
        }
    }

    > .functions
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: max-content;
        grid-auto-flow: column;
        grid-row: 1 / -1;
        grid-column: -2;
        align-items: start;
    }
}