my-plot-point
{
    display: grid;
    grid-template-rows: 1fr max-content;
    grid-template-columns: 1fr;
    height: max-content;
    padding: 1em;
    gap: 0.25em;
    border-radius: 0.25em;
    background: var(--dark-background-color);
    animation: show 400ms ease-in forwards;
    opacity: 0;

    > .location-time
    {
        display: grid;
        grid-template-rows: max-content;
        grid-template-columns: 1fr 1fr;

        > .location
        {
            display: block;
            justify-self: start;
            color: darkgray;
        }

        > .time
        {
            display: block;
            justify-self: end;
            color: darkgray;
        }
    }

    > .plot-text
    {
        white-space: pre-wrap;

        > .turn
        {
            margin: 0.25em 0.5em;
            float: left;
            font-size: 2em;
        }

        > .text
        {
            white-space: pre-wrap;
            user-select: text;
        }

        > img
        {
            aspect-ratio: 1;
            width: 20em;
            max-width: 50%;
            margin: 0 0 1em 1em;
            float: right;
            border-radius: 0.5em;
            background-image: url("img/default-scene.png");
            background-size: contain;

            &:not(.hidden)
            {
                display: block;
            }
        }
    }

    > .actions
    {
        display: grid;
        grid-template-rows: 1fr;
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        justify-self: end;
        gap: 0.25em;
    }

    > .choices-list
    {
        display: none;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 0.25em;

        > button
        {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr max-content;
            grid-auto-flow: column;
            animation: show 400ms ease-in forwards;

            > color-icon
            {
                grid-column: 2;
                align-self: center;
                width: 2em;
                height: 2em;
            }

            > span
            {
                align-self: center;
            }
        }
    }

    &:last-child > .choices-list
    {
        display: grid;
    }

    .icon-button
    {
        --button-text-color: white;
        font-size: 1.25em;
    }

    &.prologue
    {
        .return-button
        {
            display: none;
        }

        .edit-image-button
        {
            display: none;
        }
    }
}

@keyframes show
{
    100%
    {
        opacity: 1;
    }
}