nav
{
    z-index: 50000;
    height: 3em;
    overflow: hidden;

    > div
    {
        width: 100%;
        height: max-content;
        background-color: var(--background-color);

        button
        {
            padding: 0.5em 1em;
            float: left;
            border-radius: 0;
            background: transparent;
            color: var(--text-color);
            font-size: 1.25em;
            text-align: center;
            text-decoration: none;

            &.active
            {
                background-color: var(--accent-color);
            }

            &:hover
            {
                background-color: var(--highlight-color);
            }

            > span
            {
                color: var(--text-color);
            }

            > color-icon
            {
                color: var(--text-color);
            }

            &:not(.drop-down-button) > color-icon
            {
                margin-right: 0.5em;
                transform: scale(1.75);
            }
        }

        .drop-down-button
        {
            display: none;
        }
    }
}

@media screen and (max-width: 910px)
{
    nav button.drop-down-button
    {
        display: block;
        float: right;
    }

    nav button:not(.drop-down-button)
    {
        justify-content: start;
    }

    nav:not(.open)
    {
        button:not(.active):not(.drop-down-button)
        {
            display: none;
        }
    }

    nav.open
    {
        > div
        {
            position: fixed;
        }

        .drop-down-button
        {
            position: absolute;
            top: 0;
            right: 0;
        }

        button:not(.drop-down-button)
        {
            width: 100%;
            float: none;
        }
    }
}