textarea
{
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    resize: vertical;

    &.single-line
    {
        height: 1.375em;
        min-height: 1.375em;
    }
}