.thinking-indicator
{
    display: grid;
    position: absolute;
    grid-auto-flow: column;
    align-content: center;
    justify-content: center;
    width: calc(100% + 0.5em);
    height: calc(100% + 0.5em);
    margin: -0.25em;
    gap: 0.5em;
    border-radius: var(--corner-radius);
    background: hsla(0, 0%, 70%, 80%);
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    opacity: 0%;
    pointer-events: none;
    transition: opacity .25s ease-in-out;

    &.show
    {
        opacity: 100%;
        pointer-events: all;
    }
}

.thinking-indicator > span:last-child
{
    display: inline-block;
    width: 0px;
    overflow: hidden;
    vertical-align: bottom;
    animation: ellipsis 1200ms infinite;
}

@keyframes ellipsis
{
    0%, 19.999%
    {
        width: 0%
    }

    20%, 39.999%
    {
        width: 30%
    }

    40%, 59.999%
    {
        width: 60%
    }

    60%, 99.999%
    {
        width: 100%
    }

    100%
    {
        width: 100%
    }
}