my-nexus
{
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    grid-template-columns: 1fr;

    > .filters
    {
        padding: 0.5em;

        > summary
        {
            cursor: pointer;
            user-select: none;
        }

        > .filter-controls
        {
            display: grid;
            grid-template-rows: max-content;
            grid-template-columns: max-content 1fr;
            padding-top: 0.5em;
            gap: 0.25em;

            > *
            {
                grid-column: 1 / -1;
            }

            > .filter-field
            {
                display: grid;
                grid-template-rows: max-content;
                grid-template-columns: subgrid;
                justify-items: stretch;
                gap: 0.25em;
                gap: 0.25em;

                > label
                {
                    grid-column: 1;
                    align-self: center;
                }

                > input,
                > multi-select
                {
                    grid-column: 2;
                    width: 100%;
                    min-width: 12;
                }
            }

            > button
            {
                padding: 0.5em 0.75em;
            }
        }
    }

    > .list
    {
        display: flex;
        overflow-y: auto;
        gap: 0.5em;

        > *
        {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: max-content;
            width: 18em;
            height: 24em;
            padding: 0.5em;
            gap: 0.25em;
            border-radius: var(--corner-radius);
            background-color: var(--background-color);
            cursor: pointer;

            > h3
            {
                width: calc(100% - 1em);
                min-width: 0; // weird but needed
                padding: 0 0.5em;
                overflow: hidden;
                font-size: 1.25em;
                text-overflow: ellipsis;
                white-space: nowrap;
                user-select: text;
            }

            > img
            {
                aspect-ratio: 1;
                width: 100%;
                object-fit: cover;
                border-radius: var(--corner-radius);
            }

            > .tag-list
            {
                display: flex;
                flex-flow: wrap;
                width: 100%;
                overflow: hidden;
                gap: 0.25em;
                list-style: none;

                > *
                {
                    padding: 0.25em 0.125em;
                    border-radius: var(--corner-radius);
                    background-color: var(--dark-background-color);
                    user-select: text;
                }
            }

            > .username
            {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                user-select: text;
            }

            > .description
            {
                max-height: 3em;
                overflow: hidden;
                text-overflow: ellipsis;
                user-select: text;
            }

            &:hover
            {
                background-color: var(--highlight-color);
            }
        }
    }

    > .pagination
    {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5em;
        gap: 0.75em;

        > button
        {
            padding: 0.25em 0.75em;
        }
    }
}