my-stats-fly-out
{
    background-color: var(--page-background-color);

    > div
    {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-auto-rows: max-content;
        padding: 0.25em;
        gap: 0.25em;
    }
}