my-world > tab-control > *
{
    overflow-y: auto;

    *
    {
        overflow-anchor: none;
    }

    .anchor
    {
        height: 1px;
        overflow-anchor: auto;
    }

    .icon-button
    {
        --button-text-color: white;
        font-size: 1.25em;
    }
}